In [1]:
import mysql.connector as cnn
import pandas as pd
db = cnn.connect(user='mysql', 
                              password='hayashi0811',
                              host='158.179.165.88',
                              database='k30_final'
                              )

In [2]:
cursor = db.cursor()

query = "SELECT * FROM order_details"
# for res in cursor:
#     print(res)

In [3]:
cursor.execute(query)
result = cursor.fetchall()

In [7]:
cursor.description

[('Order ID', 252, None, None, None, None, 1, 16, 255),
 ('Amount', 5, None, None, None, None, 1, 32768, 63),
 ('Profit', 5, None, None, None, None, 1, 32768, 63),
 ('Quantity', 3, None, None, None, None, 1, 32768, 63),
 ('Category', 252, None, None, None, None, 1, 16, 255),
 ('Sub-Category', 252, None, None, None, None, 1, 16, 255),
 ('ID', 3, None, None, None, None, 0, 49667, 63)]

In [5]:
df = pd.DataFrame(result, columns=[i[0] for i in cursor.description])

In [8]:
unit = df['Amount'] / df['Quantity']
df.insert(5,'Unit',unit)

In [11]:
df.sort_values(['Unit'], ascending=0)[:10]

,Order ID,Amount,Profit,Quantity,Category,Unit,Sub-Category,ID
1129,B-25993,4363.0,305.0,5,Furniture,872.600000,Tables,1130
1203,B-26003,1745.0,122.0,2,Furniture,872.500000,Tables,1204
10,B-25602,2617.0,1151.0,4,Electronics,654.250000,Phones,11
607,B-25830,1954.0,782.0,3,Electronics,651.333333,Phones,608
835,B-25923,3873.0,891.0,6,Electronics,645.500000,Phones,836
815,B-25873,1275.0,357.0,2,Electronics,637.500000,Phones,816
1299,B-26028,1272.0,547.0,2,Electronics,636.000000,Phones,1300
608,B-25755,1709.0,564.0,3,Clothing,569.666667,Trousers,609
820,B-25877,1137.0,568.0,2,Clothing,568.500000,Trousers,821
1021,B-25902,1700.0,85.0,3,Clothing,566.666667,Trousers,1022