In [53]:
import pandas as pd

# Mo file csv hoac excel

# dataframe = df
df = pd.read_excel('spending_score.xlsx')
# df = pd.read_excel('D:\data\spending_score.xlsx')
# serie
uid = df['id']
age = df['age']
spending_score = df['spending_score']
print(uid.to_list())
print(age.to_list())
print(spending_score.to_list())
print(df)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[23, 25, 26, 28, 27, 40, 30, 24, 29, 32]
[0.8, 0.5, 0.5, 0.7, 0.7, 0.8, 0.2, 0.4, 0.2, 0.3]
   id  annual_income  age  family_size  spending_score
0   1      200000000   23            3             0.8
1   2      400000000   25            4             0.5
2   3      500000000   26            4             0.5
3   4      800000000   28            5             0.7
4   5     1000000000   27            5             0.7
5   6     1500000000   40            6             0.8
6   7      100000000   30            3             0.2
7   8      600000000   24            2             0.4
8   9      300000000   29            1             0.2
9  10       40000000   32            1             0.3

In [54]:
# row
'''
row = {
    'uid': 1.0,
    'annual_income': 200000000.0,
    'age': 23.0,
    'family_size: 3.0,
    'spending_score': 0.8
}
'''

print(df.iterrows())
for _, row in df.iterrows():
    print(row['annual_income'], row['age'])

<generator object DataFrame.iterrows at 0x7fafea145c80>
200000000.0 23.0
400000000.0 25.0
500000000.0 26.0
800000000.0 28.0
1000000000.0 27.0
1500000000.0 40.0
100000000.0 30.0
600000000.0 24.0
300000000.0 29.0
40000000.0 32.0

In [55]:
df.iloc[0,1] = 300000000 # iloc: i = index, loc = location
print(df)
print(df.loc[(df['age']> 23)])

   id  annual_income  age  family_size  spending_score
0   1      300000000   23            3             0.8
1   2      400000000   25            4             0.5
2   3      500000000   26            4             0.5
3   4      800000000   28            5             0.7
4   5     1000000000   27            5             0.7
5   6     1500000000   40            6             0.8
6   7      100000000   30            3             0.2
7   8      600000000   24            2             0.4
8   9      300000000   29            1             0.2
9  10       40000000   32            1             0.3
   id  annual_income  age  family_size  spending_score
1   2      400000000   25            4             0.5
2   3      500000000   26            4             0.5
3   4      800000000   28            5             0.7
4   5     1000000000   27            5             0.7
5   6     1500000000   40            6             0.8
6   7      100000000   30            3             0.2
7   8      600000000   24            2             0.4
8   9      300000000   29            1             0.2
9  10       40000000   32            1             0.3

In [56]:
# cach 1 trong viec xu li serie (cot)
annual_income = df['annual_income'].to_list()
for income in annual_income:
    if income >= 500000000:
        print(income, True)
    else:
        print(income, False)

300000000 False
400000000 False
500000000 True
800000000 True
1000000000 True
1500000000 True
100000000 False
600000000 True
300000000 False
40000000 False

In [57]:
# cach 2 trong viec xu li serie (cot)
annual_income = df['annual_income']
annual_income > 500000000

0    False
1    False
2    False
3     True
4     True
5     True
6    False
7     True
8    False
9    False
Name: annual_income, dtype: bool

In [58]:
age = df['age']
age > 30

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9     True
Name: age, dtype: bool

In [59]:
# df = dataframe = bang
# .apply(function): tren toan bo cai bang nay, toi se ap dung 1 cai ham do tui quy dinh vao
# function = lambda x: str(x['age']) + ' ' + str(x['family_size'])
# axis = 1, toi se xu li theo tung hang
# axis = 0 ,toi se xu li theo tung cot
# lambda la 1 function ao, voi input la x --> lambda x = la ham ao ten la lambda voi input la x
# : sau lambda x la cai ham ma cac ban mong muon thuc thi
# df.apply(lambda x: str(x['age']) + ' ' + str(x['family_size']), axis=1)
df['level'] = df.apply(lambda x: x['annual_income'] >= 500000000, axis=1)

In [60]:
df

   id  annual_income  age  family_size  spending_score  level
0   1      300000000   23            3             0.8  False
1   2      400000000   25            4             0.5  False
2   3      500000000   26            4             0.5   True
3   4      800000000   28            5             0.7   True
4   5     1000000000   27            5             0.7   True
5   6     1500000000   40            6             0.8   True
6   7      100000000   30            3             0.2  False
7   8      600000000   24            2             0.4   True
8   9      300000000   29            1             0.2  False
9  10       40000000   32            1             0.3  False

In [61]:
# Bai tap ve nha
# Danh gia xem nguoi do co dang di lam cong so hay khong, biet rang >= 23 tuoi la di lam cong so, neu dung luu lai True, neu sai la luu la False 
# Nguoi do co kha nang la dang song cung ba va cung me hay khong, biet >= 3 thi moi co the song cung ba me duoc, neu dung la True, sai la False
# Xet xem la nguoi do thuoc tang lop nao: du gia (2), trung luu (1), binh dan (0). Du gia, Thu nhap hang nam/so tuoi > 30, 10 den 30: trung luu, <10 la binh dan

# Bai tập

#### import data

In [91]:
import pandas as pd

df = pd.read_excel('spending_score.xlsx')
print(df)

   id  annual_income  age  family_size  spending_score
0   1      200000000   23            3             0.8
1   2      400000000   25            4             0.5
2   3      500000000   26            4             0.5
3   4      800000000   28            5             0.7
4   5     1000000000   27            5             0.7
5   6     1500000000   40            6             0.8
6   7      100000000   30            3             0.2
7   8      600000000   24            2             0.4
8   9      300000000   29            1             0.2
9  10       40000000   32            1             0.3

#### 1.Danh gia xem nguoi do co dang di lam cong so hay khong, biet rang >= 23 tuoi la di lam cong so, neu dung luu lai True, neu sai la luu la False

In [82]:
df['working'] = df.apply(lambda x: x['age'] >=23, axis = 1)
print(df[['id','age','working']])

   id  age  working
0   1   23     True
1   2   25     True
2   3   26     True
3   4   28     True
4   5   27     True
5   6   40     True
6   7   30     True
7   8   24     True
8   9   29     True
9  10   32     True

#### 2.Nguoi do co kha nang la dang song cung ba va cung me hay khong, biet >= 3 thi moi co the song cung ba me duoc, neu dung la True, sai la False

In [75]:
df['isParents'] = df['family_size'].apply(lambda x : x >=3)
print(df[['id','family_size','isParents']])

   id  family_size  isParents
0   1            3       True
1   2            4       True
2   3            4       True
3   4            5       True
4   5            5       True
5   6            6       True
6   7            3       True
7   8            2      False
8   9            1      False
9  10            1      False

#### 3.Xet xem la nguoi do thuoc tang lop nao: du gia (2), trung luu (1), binh dan (0). Du gia, Thu nhap hang nam/so tuoi > 30, 10 den 30: trung luu, <10 la binh dan

In [110]:

df['class'] = df.apply(lambda x: 'Du gia' if x['annual_income']/x['age'] > 30000000  
                                    else  (
                                        'Trung Luu' if x['annual_income']/x['age'] <= 30000000 and x['annual_income']/x['age'] >= 10000000              
                                            else 'Binh dan'
                                            ),
                       axis=1)
print(df[['id','annual_income','age','class']])

   id  annual_income  age  family_size  spending_score  working      class
0   1      200000000   23            3             0.8     True   Binh dan
1   2      400000000   25            4             0.5     True  Trung Luu
2   3      500000000   26            4             0.5     True  Trung Luu
3   4      800000000   28            5             0.7     True  Trung Luu
4   5     1000000000   27            5             0.7     True     Du gia
5   6     1500000000   40            6             0.8     True     Du gia
6   7      100000000   30            3             0.2     True   Binh dan
7   8      600000000   24            2             0.4     True  Trung Luu
8   9      300000000   29            1             0.2     True  Trung Luu
9  10       40000000   32            1             0.3     True   Binh dan

In [114]:
def check(x):
    value = x['annual_income']/x['age']
    if value >30000000:
      return 'Du gia'
    elif value >=10000000 and value <=30000000:
      return 'Trung luu'
    else:
      return 'Binh dan'
df['class_2'] = df.apply(lambda x: check(x), axis=1)
print(df[['id','annual_income','age','class_2']])

   id  annual_income  age    class_2
0   1      200000000   23   Binh dan
1   2      400000000   25  Trung luu
2   3      500000000   26  Trung luu
3   4      800000000   28  Trung luu
4   5     1000000000   27     Du gia
5   6     1500000000   40     Du gia
6   7      100000000   30   Binh dan
7   8      600000000   24  Trung luu
8   9      300000000   29  Trung luu
9  10       40000000   32   Binh dan